body {
  font-family: "Avenir Next";
  /*font-family: "serif";*/
}

li {
  list-style: none;
}

.header {
  //background-color: #26d0c9;
  background-color: #2f5167;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: right;
  font-size: 24px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.copy-container span {
  color: #ff4a4a;
}

.resume {
  height: 500px;
  margin-top: 100px;
  //background-color: gray;
}

img.self {
  width; 290px;
  height: 290px;
  //margin-left: 200px;
  //margin-right: 200px;
  //background-color: yellow;
}

.name-and-greeting {
  //width: 800px;
  //height: 600px;
  //float: left;
  //background-color: gray;
}

.copy-container p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  //background-color: red;
}

.resume content-item {
  float: left;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.resume p {
  //text-align: center;
  margin-left: 490px;
  //background-color: red;
}

.resume-pic {
  //text-align: center;
  margin-left: 520px;
  //background-color: red;
}

.contents-item {
  float: left;
  margin: 100px;
}

.contents-item p {
  font-size: 18px;
  margin-top: 50px;
  text-align: left;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 24px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
